/* Estilos para dispositivos móveis */
@media screen and (max-width: 600px) {
  body {
    background-color: rgba(201, 201, 201, 0.95);
    background-image: none;
    padding: 15px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 18px;
  }

  input[type="text"] {
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 13px;
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    margin-top: 30px;
  }

  div.resultado {
    margin-top: 30px;
    padding: 15px;
    font-size: 16px;
  }
}

/* Estilos para dispositivos de tela ainda menores (opcional) */
@media screen and (max-width: 400px) {
  h1 {
    font-size: 22px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"] {
    font-size: 16px;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 13px;
    border: none;
    margin-bottom: 10px;
    border-radius: 15px;
    box-sizing: border-box;
  }

  button {
    font-size: 16px;
  }

  div.resultado {
    font-size: 14px;
  }
}
